

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins',sans-serif;
}

.imagem-fundo-header{ 
    height: 635px;
    background: url(IMG/CyberFallout2.jpg);
    background-attachment: fixed;
    background-size: contain;
    background-position: center;
    
}


.div-topicos-header{
    text-align: center;
    justify-content: space-between;
    padding: 20px;
}
.div-topicos-header li{
    display: inline;
    margin: 0 0 0 15px;
    color: white;
}


.teste{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.espaçamento-titulo{
    justify-content: center;
    text-align: center;
    display: flex;
    padding: 60px;
    color: white;
}

.espaçamento-titulo h1{
    font-size: 50px;
}

.espaçamento-titulo span{
    color: green;
    font-size: 50px;
}

/**Section**/
.define-tamanho-section{
    height: 750px;
    background-color: black;
}
.define-tamanho-section h1, p{
    color: white;
}

.define-display-main-section{
    height: 300px;
}


.texto-principal-main-section{
    font-size: 50px;
    padding: 70px;
    text-align: center;
    justify-content: center;
}
.define-padding-titulo-section{
    display: flex;
    justify-content: center;
    text-align: center;
}
.define-padding-titulo-section h1{
    font-size: 50px;
    padding: 70px ;
}

/*Parte reservada para adicionar elementos na MAIN da Section*/

.define-display-main-section{
    height: 400px;
    display: flex;
}

.define-posicao-esquerda{
    width: 70%;
    
}


.teste /*define a centralização da imagem da esquerda, se trocar o nome da div NÃO FUNCIONA (não sei pq)*/{
    justify-content: center;
    align-items: center;
    width: 100%;
}

.define-posicao-esquerda img{
    width: 330px;
    height: 370px;
    border-radius: 200px; 
}

.define-posicao-direita{
    width: 100%;
    display: flex;  
}

.define-posicao-direita h1{
    font-size: 35px;   
}

.define-centralizacao-texto-direita{
    width: 30%;
    
}
