
/*Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*Lato*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


body{
    font-family: "Lato", sans-serif;
    
}

.imagem-fundo-header{ 
    height: 575px;
    background: url(IMG/base-espacial.png);
    background-repeat: no-repeat;
    
}
.div-topicos-header{
    text-align: center;
    justify-content: space-between;
    padding: 20px;
}
.div-topicos-header li{
    display: inline;
    margin: 0 0 0 15px;
    color: white;
    font-size: 14px;
}


.espaçamento-titulo{
    justify-content: center;
    text-align: center;
    display: flex;
    padding: 70px;
    color: white;
}

.espaçamento-titulo h1{
    font-size: 30px;
    width: 600px;

}

.espaçamento-titulo span{
    color: green;
    font-size: 26px;
}

/**main**/

/*Titulo*/
.define_tamanho_titulo{
    height: 30px;
    color: white;
    background-color: black;
    display: flex;
    padding: 60px;
}

.titulo{
    text-align: center;
    width: 100%;
    font-size: 30px;
   
}
/*Define tamanho total da main div*/
.define_tamanho_total_div_main{
    height: 400px;
    display: flex;
    background-color: black;
}

/*LADO ESQUERDO DIV MAIN*/
.define_tamanho_lado_esquerdo{
    width: 40%;
    display: flex;
}

.define_div_imagem_lado_esquerdo{
    margin: auto;
    align-items: center;
    justify-content: center;
}

.define_div_imagem_lado_esquerdo img{
    height: 350px;
    width: 300px;
    border-radius: 50%;
}
/*lado direito*/

.define_tamanho_lado_direito{
    width: 60%;
    display: flex;
}

.define_conteudo_lado_direito{
    margin: 100px 0 0 15px;
    width: 80%;
}

.define_conteudo_lado_direito h1{
    color: white;
    font-size: 21px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 10px;
    text-align: center;
    
    
}

.define_conteudo_lado_direito span{
    color: white;
    font-size: 18px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    line-height: 1.6;
}

/*Main parte de baixo*/
/*



/*fim Main parte de baixo*/

/*Começo da sessão gradual*/
.gradual-class{
    height: 500px;
    background: linear-gradient(to top, rgb(6, 37, 49),black );
    display: flex;
    
    
}

.center_gradual_class{
    height: 100px;
    width: 50%;
    margin: auto;
    justify-content: center;
    text-align: center;
    padding: 150px;
    border-radius: 20px;
    border:solid 1px rgb(12, 40, 51)
}
.center_gradual_class img{

    width: 400px;
}

.center_gradual_class h1{
    font-size: 30px;
}

.center_gradual_class span{
    font-size: 28px;
    color: white;
}

/*Fim da sessão gradual*/

/**.container{
    height: 400px;
    background-color: rgb(6, 37, 49);
    display: flex;
    justify-content: space-evenly;
}

.padding-container{
    padding: 100px;
    height: 80px;
    border: solid green 1px;
    border-radius: 20px;
}


.header-large{
    height: 150px;
    
}

**/
.container-header-large{
    height: 100px;
    font-size: 80px;
    margin: 4px 0 0 40px;
}

.container-span-header-large {
    justify-content: end;
    margin-left: 700px;
    padding: 0 90px 90px 0;
    font-size: 20px;
    text-align: end;
}

.container-span-header-large span{
    
    width: 400px;
    height: 400px;
    color: #7a7a7f;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.035rem;
    line-height: 28px;
    margin: 0 0 10px;
    right: 50px;
}

.what-whe-do-main-container{
    height: 600px;
    display: flex;
    margin: 90px;
    margin-top: 0px;
    
}

.what-whe-do-container{
    display: flex;
    width: 100%;
}

.what-whe-do-container-esquerda{
    width: 60%;
}

.what-whe-do-container-esquerda h1{
    font-size: 80px;
    width: 600px;
    font-weight: 700;
    
}

.gradient-line {
    background: linear-gradient(to right, #00778b 0%, #4b37c9 15%, #d844a2 30%, #f0764d 45%, #ffe800 100%);
    display: block;
    height: 10px;
    margin: 10px 0 20px;
    max-width: 306px;
    width: 100%;
}

.what-whe-do-container-esquerda p{
    font-size: 30px;
    color: #7a7a7f;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.035rem;
    line-height: 28px;
    width: 500px;
    
}


/*FOLDER*/
.folder{
    display: flex;
}

.folder img{
    width: 300px;
    height: 300px;
    padding: 10px 0 0 60px;
}


.what-whe-do-container-direita{
    width: 30%;
    
    font-weight: 700;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.what-whe-do-container-direita-conteudo{
    width: 400px;
    height: 150px;
    padding: 30px 80px 0 30px;
    font-size: 18px;
    
}
.what-whe-do-container-direita-conteudo h2{
    font-size: clamp(1.125rem, 0.9511rem + 0.3623vw, 1.25rem);
    font-weight: 900;
    line-height: 1.75;
    text-transform: uppercase;
}

.what-whe-do-container-direita-conteudo span{
    overflow: hidden;
    width: 400px;
    height: 400px;
    color: #7a7a7f;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.035rem;
    line-height: 28px;
    margin: 0 0 10px;
}




/*FOOTER*/

.define_tamanho_total_footer{
    height: 70px;
    background-color: rgb(0, 14, 29);
    
    text-align: center;
}
.define_tamanho_total_footer h1, p{
    color: white;
}
